services:
  api:
    build: ./backend
    container_name: sbdl_api
    ports:
      - "8000:8000"

  nginx:
    image: nginx:latest
    container_name: sbdl_nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
    depends_on:
      - api